main.archive-content {
  margin: 20px auto;
  padding: 0 10px;
  @include respond-to($large-desktop) {
    padding: 0;
    margin: 40px auto;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px 0;
    align-items: flex-start;
    @include respond-to($large-desktop) {
      grid-template-columns: 250px 1fr;
      gap: 40px;
      padding: 24px 0;
    }
    section {
      @include respond-to($large-desktop) {
        grid-column: 2 / 3;
        grid-row: 1;
      }
    }
    aside {
      grid-row: 2;
      @include respond-to($large-desktop) {
        grid-column: 1 / 2;
        grid-row: 1;
      }
    }
  }
}

article.shop-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px 0;
  align-items: flex-start;
  @include respond-to($large-desktop) {
    grid-template-columns: 250px 1fr;
    gap: 40px;
    padding: 24px 0;
  }
  .content-shop {
    @include respond-to($large-desktop) {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
  .aside-filters {
    grid-row: 2;
    @include respond-to($large-desktop) {
      grid-column: 1 / 2;
      grid-row: 1;
      position: sticky;
      top: 60px;
    }
  }
}

.archive-content-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px 0;
  align-items: flex-start;
  @include respond-to($large-desktop) {
    grid-template-columns: 250px 1fr;
    gap: 40px;
    padding: 24px 0;
  }
  .content-shop {
    @include respond-to($large-desktop) {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
  .aside-filters {
    grid-row: 2;
    @include respond-to($large-desktop) {
      grid-column: 1 / 2;
      grid-row: 1;
      position: sticky;
      top: 60px;
    }
  }
}

.sidebar-filter {
  .filter {
    margin: 0 0 30px 0;
    h3 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      border-bottom: 1px solid #000;
      margin: 0;
      padding: 0;
    }
    .box {
      padding: 12px 0 0 0;
      select {
        width: 100%;
        -webkit-appearance: none;
        font-size: 1.4rem;
        padding: 8px;
        border: 1px solid #000;
        color: #000;
        background: #fff url(../img/chevron-down-solid.svg);
        background-repeat: no-repeat;
        background-position: 97% 50%;
        background-size: 10px;
        outline: none;
      }
    }
  }
}

h1.titlePage {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.25;
  span {
    background: var(--primary-color);
    padding: 2px 4px;
  }
}

main.page {
  margin: 2rem auto;
  padding: 0 10px;
  @include respond-to($large-desktop) {
    padding: 0;
  }
}

.row-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
  p.woocommerce-result-count,
  form.woocommerce-ordering {
    float: none;
    margin: 0;
  }
  form.woocommerce-ordering {
    select {
      background: none;
      border: 1px solid #000;
      font-size: 1.4rem;
      padding: 8px;
    }
  }
}

.woocommerce-pagination {
  font-size: 2rem;
  display: block;
  margin: 3rem auto 0;
  span.current {
    background: $primary;
    color: #000;
  }
}

main#main {
  padding: 0 10px 40px;
  @include respond-to($large-desktop) {
    padding: 0;
  }
}

.woocommerce-order {
  font-size: 1.4rem;
}

main.archive-blog {
  padding: 40px 0;
  section {
    h1 {
      font-size: 4em;
      font-weight: 900;
      letter-spacing: -1px;
      margin: 0 0 20px 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .wp-block-embed__wrapper {
    display: table;
    text-align: center;
    margin: 16px auto;
  }
}
